<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>向量数据库验证</title>
    <meta name="viewport"
          content="width=device-width,height=device-height, user-scalable=no,initial-scale=1, minimum-scale=1, maximum-scale=1,target-densitydpi=device-dpi ">
    <link href="https://cdn.jsdelivr.net/npm/daisyui@2.51.3/dist/full.css" rel="stylesheet" type="text/css"/>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
<div class="container">
    <div class="flex flex-col items-center h-screen w-screen">
        <div class="flex flex-col items-center justify-center">
            <h1 class="text-5xl font-bold mt-20">向量数据库验证</h1>
            <p class="text-xl my-10">这个页面用来进行向量数据库查询效果的验证</p>
        </div>
        <div class="flex flex-row items-center justify-center w-full">
            <input id="search" type="text" placeholder="请输出查询内容"
                   class="input input-bordered w-2/3 lg:w-2/5 mr-2"/>
            <button class="btn btn-primary">提交</button>
        </div>
        <div id="loading" style="display: none; width: 100%; text-align: center; font-size: 25px; color: blueviolet;">请求中，请稍后...</div>
        <div class="flex flex-col justify-start mt-10 mx-5">
            <div class="card bg-base-100 shadow-md">
                <div class="card-body">
                    <h2 class="card-title">匹配数量</h2>
                    <p class="text-lg" id="answer"></p>
                    <br>
                    <h2 class="card-title">参照内容</h2>
                    <div id="resultArray">
                    </div>
                </div>
            </div>
        </div>
        <div style="width: 100%; text-align: center; font-size: 20px;">
            <div style="font-weight: 600;">请求示例</div>
            <br>切换到五道口
            <br>切换至蓝润
            <br>切换至蓝润二层
            <br>切换到蓝润大厦
            <br>在43 25 39的位置画一个黄色的半径为123的圆
            <br>在43 25 39的位置画一个半径为123的圆
            <br>聚焦到蓝润大厦
            <br>聚焦到蓝润六层
            <br>显示蓝润大厦的标签
            <br>显示蓝润大厦四层的标签
            <br>地图放大
            <br>缩小地图
            <br>将空间指向蓝润
            <br>将空间切换到西区
            <br>将空间切换到中关村西区
            <br>打开灯
            <br>谁是猴子搬的救兵
        </div>
    </div>
</div>
<script>
    const submitButton = document.querySelector('button');
    const search = document.querySelector('#search');
    const card = document.querySelector('.card');
    const loading = document.querySelector('#loading');
    card.style.display = 'none';

    search.addEventListener('keypress', function(event) {
        if (search.value && event.key === 'Enter') {
            event.preventDefault();
            // 触发click事件
            submitButton.click();
        }
    });

    submitButton.addEventListener('click', () => {
        loading.style.display = 'block';
        card.style.display = 'none';
        const data = {
            search: search.value,
        };
        fetch('/search', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)
        }).then(res => res.json()).then(result => {
            loading.style.display = 'none';
            card.style.display = 'block';
            document.querySelector('#answer').innerHTML = result.data.answer;
            let resultArray = result.data.resultArray;
            console.error(resultArray);
            document.querySelector('#resultArray').innerHTML = resultArray.map(resultItem => {
                resultItem.payload.text = JSON.parse(resultItem.payload.text);
                return `<div style="display: flex;"><div style="width: 100px;">${resultItem.score}</div><div>${JSON.stringify(resultItem.payload)}</div></div>`
            }).join('');
        });
    });

</script>
</body>
</html>